{% extends "base.html" %}
{% block title %}Parameter Changer{% endblock %}
{% block nav %}{{ super() }}{% endblock %}
{% block content %}
    <div class="alert alert-success d-none" role="alert" id="save-status">
        <p class="alert-heading">Settings saved</p>
    </div>
    <div class="container justify-content-center">
        <div class="row justify-content-center" style="flex-wrap: nowrap">
            <div class="col-7">
                <form id="changeParams" name="changeParams" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="input-group mb-3 flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ form.RIPMETHOD.label }}</span>
                        </div>
                        {{ form.RIPMETHOD }}
                    </div>

                    <div class="input-group mb-3 flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ form.DISCTYPE.label }}</span>
                        </div>
                        {{ form.DISCTYPE }}
                    </div>

                    <div class="input-group mb-3 flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ form.MAINFEATURE.label }}</span>
                        </div>
                        {{ form.MAINFEATURE(class="switch") }}
                    </div>

                    <div class="input-group mb-3 flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ form.MINLENGTH.label }}</span>
                        </div>
                        {{ form.MINLENGTH }}
                        <div class="invalid-tooltip" id="MINLENGTH_INVALID">
                            errors
                        </div>
                    </div>

                    <div class="input-group mb-3 flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text">{{ form.MAXLENGTH.label }} </span>
                        </div>
                        {{ form.MAXLENGTH }}
                        <div id="MAXLENGTH_INVALID" class="invalid-tooltip">
                            Title can't be blank
                        </div>
                    </div>
                    <input name="mode" value="change_job_params" hidden>
                    <input name="config_id" value="{{ config.CONFIG_ID }}" hidden>
                    <button class="btn btn-info btn-lg btn-block" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    {{ conf }}

    <script type="application/javascript">
        $(function () {
            function sendSettings(formToSend, sendTo) {
                $.ajax({
                    type: 'POST',
                    url: sendTo,
                    data: formToSend.serialize()
                }).done(function (data) {
                    if (data.success === true) {
                        $("#save-status").removeClass("d-none");
                        window.setTimeout(function () {
                            $("#save-status").addClass("d-none");
                        }, 4000);
                    }
                });
            }

            $("#changeParams").submit(function (e) {
                e.preventDefault();
                sendSettings($("#changeParams"), "/json");
            });
            {% for field, errors in form.errors.items() %}
                $("[name='{{field}}']").addClass("is-invalid");
                $("div#{{ field }}_INVALID").html("{{ errors }}");
            {% endfor %}

        });
    </script>
{% endblock %}
