{% extends "base.html" %}

{% block content %}
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <style>
        .popover {
            white-space: pre-line;
        }

        .popover-body {
            white-space: pre-wrap;
            font-weight: bold;
        }
    </style>
    <div class="alert alert-success d-none" role="alert" id="success">
        <p class="alert-heading">Settings were saved successfully</p>
    </div>
    <div class="alert alert-danger d-none" role="alert" id="fail">
        <p class="alert-heading">There was an error saving settings</p>
    </div>
    <div class="container" style="max-width: initial!important;">
        <div class="row">
            <div class="col">
                <div class="jumbotron" style="padding-top: 1rem;">
                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab"
                               aria-controls="general" aria-selected="true">General</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="sysinfo-tab" data-toggle="tab" href="#sysinfo" role="tab"
                               aria-controls="sysinfo" aria-selected="false">System Information</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="drives-tab" data-toggle="tab" href="#drives" role="tab"
                               aria-controls="drives" aria-selected="false">Disk Drives</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="ripper-tab" data-toggle="tab" href="#ripper" role="tab"
                               aria-controls="ripper" aria-selected="false">Movie Ripper</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="abcde-tab" data-toggle="tab" href="#abcde" role="tab"
                               aria-controls="abcde" aria-selected="false">CD Ripper</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab"
                               aria-controls="notifications" aria-selected="false">Notifications</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="uiSettingsTab-tab" data-toggle="tab" href="#uiSettingsTab"
                               role="tab"
                               aria-controls="uiSettingsTab" aria-selected="false">UI Settings</a>
                        </li>
                    </ul>

                    <!-- Tab Panes -->
                    <div class="tab-content">
                        {% include 'settings/general.html' %}
                        {% include 'settings/system.html' %}
                        {% include 'settings/disk_drives.html' %}
                        {% include 'settings/ripper.html' %}
                        {% include 'settings/abcde.html' %}
                        {% include 'settings/notify.html' %}
                        {% include 'settings/ui.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}{{ super() }}{% endblock %}
{% block js %}
    {{ super() }}
    <script type="application/javascript">
        $(function () {
            function clearSettingErrors(formToSend) {
                formToSend.find(".is-invalid").removeClass("is-invalid");
                formToSend.find(".setting-error").attr("hidden", true).text("");
            }

            function showSettingErrors(formToSend, errors) {
                $.each(errors || {}, function (key, msg) {
                    formToSend.find("[name='" + key + "']").addClass("is-invalid");
                    formToSend.find("[data-error-for='" + key + "']")
                        .text(msg).removeAttr("hidden");
                });
            }

            function sendSettings(formToSend, sendTo) {
                clearSettingErrors(formToSend);
                var formEl = formToSend.get(0);
                if (formEl && typeof formEl.checkValidity === "function" && !formEl.checkValidity()) {
                    if (typeof formEl.reportValidity === "function") {
                        formEl.reportValidity();
                    }
                    $("#fail").removeClass("d-none");
                    $("#success").addClass("d-none");
                    return;
                }
                $.ajax({
                    type: 'POST',
                    url: sendTo,
                    data: formToSend.serialize()
                }).done(function (data) {
                    if (data.success === true) {
                        $("#success").removeClass("d-none");
                        $("#fail").addClass("d-none");
                        window.setTimeout(function () {
                            $("#success").addClass("d-none");
                        }, 4000);
                        if (data.restart_needed && typeof window.showUiActionBanner === "function") {
                            window.showUiActionBanner("restart");
                        } else if (data.reload_needed && typeof window.showUiActionBanner === "function") {
                            window.showUiActionBanner("reload");
                        }
                    } else {
                        $("#fail").removeClass("d-none");
                        $("#success").addClass("d-none");
                        showSettingErrors(formToSend, data.errors);
                    }
                }).fail(function () {
                    $("#fail").removeClass("d-none");
                    $("#success").addClass("d-none");
                });
            }

            $("#uiSettings").submit(function (e) {
                e.preventDefault();
                sendSettings($("#uiSettings"), "/save_ui_settings");
            });
            $("#generalSettings").submit(function (e) {
                e.preventDefault();
                sendSettings($("#generalSettings"), "/save_settings");
            });
            $("#ripperSettings").submit(function (e) {
                e.preventDefault();
                sendSettings($("#ripperSettings"), "/save_settings");
            });
            $("#notifySettings").submit(function (e) {
                e.preventDefault();
                sendSettings($("#notifySettings"), "/save_settings");
            });
            $("#abcdeSettings").submit(function (e) {
                e.preventDefault();
                sendSettings($("#abcdeSettings"), "/save_abcde_settings");
            });
            $("#appriseCfg").submit(function (e) {
                e.preventDefault();
                sendSettings($("#appriseCfg"), "/save_apprise_cfg");
            });
            $("#updateArm").submit(function (e) {
                e.preventDefault();
                sendSettings($("#updateArm"), "/update_arm")
            })
            $(".popovers").popover({
                trigger: "hover",
            });
            {% if form.errors %}
                {% for k in form.errors %}
                    $("[name='{{k}}']").addClass("is-invalid");
                {% endfor %}
            {% endif %}
            activeTab("armsettings");
            function showSettingsTabFromHash() {
                var hash = window.location.hash;
                if (hash === "#system") {
                    hash = "#sysinfo";
                }
                if (!hash) {
                    return;
                }
                var tab = $("#myTab a[href='" + hash + "']");
                if (tab.length) {
                    tab.tab("show");
                }
            }
            showSettingsTabFromHash();
            $(window).on("hashchange", showSettingsTabFromHash);
            $("#myTab a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                var href = e.target.getAttribute("href");
                if (href && history.replaceState) {
                    history.replaceState(null, null, href);
                }
            });
        });
    </script>
{% endblock %}
