<!doctype html>
<html lang="en" data-theme="dark">
    {% include 'head.html' %}
    <body class="arm-shell-body">
        <div class="app-shell">
            {% include 'nav.html' %}
            <div class="app-main">
                <div id="content" class="h-100 content">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category if category != "message" else 'info' }} text-center"
                                     role="alert">
                                    <p class="alert-heading">{{ message|safe }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}
                </div>
                <div id="footer" class="container-fluid">
                    {% block footer %}
                        <p class="text-center" style="margin-bottom: auto; margin-top: auto"> Automatic Ripping Machine.
                            Find us on <a
                                    href="https://github.com/automatic-ripping-machine/automatic-ripping-machine">github</a>.
                        </p>
                    {% endblock %}
                </div>
            </div>
            {% include 'bottom_nav.html' %}
        </div>
        {% block js %}
        {% endblock %}
    </body>
</html>
